<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-plano-heading" jhiTranslate="pagboletosApp.plano.home.createOrEditLabel">Create or edit a Plano</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!plano.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="plano.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.plano.idPlano" for="field_idPlano">Id Plano</label>
                    <input type="text" class="form-control" name="idPlano" id="field_idPlano"
                        [(ngModel)]="plano.idPlano" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.plano.recebimento" for="field_recebimento">Recebimento</label>
                    <input type="number" class="form-control" name="recebimento" id="field_recebimento"
                        [(ngModel)]="plano.recebimento" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
