<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plano">
            <h2><span jhiTranslate="pagboletosApp.plano.detail.title">Plano</span> {{plano.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.plano.idPlano">Id Plano</span></dt>
                <dd>
                    <span>{{plano.idPlano}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.plano.recebimento">Recebimento</span></dt>
                <dd>
                    <span>{{plano.recebimento}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plano', plano.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
