<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-parcelamento-heading" jhiTranslate="pagboletosApp.parcelamento.home.createOrEditLabel">Create or edit a Parcelamento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!parcelamento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="parcelamento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.parcelamento.idParcelamento" for="field_idParcelamento">Id Parcelamento</label>
                    <input type="text" class="form-control" name="idParcelamento" id="field_idParcelamento"
                        [(ngModel)]="parcelamento.idParcelamento" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.parcelamento.jurosCliente" for="field_jurosCliente">Juros Cliente</label>
                    <input type="number" class="form-control" name="jurosCliente" id="field_jurosCliente"
                        [(ngModel)]="parcelamento.jurosCliente" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.parcelamento.jurosPagBoletos" for="field_jurosPagBoletos">Juros Pag Boletos</label>
                    <input type="number" class="form-control" name="jurosPagBoletos" id="field_jurosPagBoletos"
                        [(ngModel)]="parcelamento.jurosPagBoletos" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.parcelamento.plano" for="field_plano">Plano</label>
                    <select class="form-control" id="field_plano" name="plano" [(ngModel)]="parcelamento.plano" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planoOption.id === parcelamento.plano?.id ? parcelamento.plano : planoOption" *ngFor="let planoOption of planos; trackBy: trackPlanoById">{{planoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
