<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parcelamento">
            <h2><span jhiTranslate="pagboletosApp.parcelamento.detail.title">Parcelamento</span> {{parcelamento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.parcelamento.idParcelamento">Id Parcelamento</span></dt>
                <dd>
                    <span>{{parcelamento.idParcelamento}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.parcelamento.jurosCliente">Juros Cliente</span></dt>
                <dd>
                    <span>{{parcelamento.jurosCliente}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.parcelamento.jurosPagBoletos">Juros Pag Boletos</span></dt>
                <dd>
                    <span>{{parcelamento.jurosPagBoletos}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.parcelamento.plano">Plano</span></dt>
                <dd>
                    <div *ngIf="parcelamento.plano">
                        <a [routerLink]="['/plano', parcelamento.plano?.id, 'view']">{{parcelamento.plano?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parcelamento', parcelamento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
