<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagboletosApp.parcelamento.home.title">Parcelamentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parcelamento" [routerLink]="['/parcelamento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pagboletosApp.parcelamento.home.createLabel">
            Create new Parcelamento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="parcelamentos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagboletosApp.parcelamento.idParcelamento">Id Parcelamento</span></th>
            <th><span jhiTranslate="pagboletosApp.parcelamento.jurosCliente">Juros Cliente</span></th>
            <th><span jhiTranslate="pagboletosApp.parcelamento.jurosPagBoletos">Juros Pag Boletos</span></th>
            <th><span jhiTranslate="pagboletosApp.parcelamento.plano">Plano</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parcelamento of parcelamentos ;trackBy: trackId">
                <td><a [routerLink]="['/parcelamento', parcelamento.id, 'view' ]">{{parcelamento.id}}</a></td>
                <td>{{parcelamento.idParcelamento}}</td>
                <td>{{parcelamento.jurosCliente}}</td>
                <td>{{parcelamento.jurosPagBoletos}}</td>
                <td>
                    <div *ngIf="parcelamento.plano">
                        <a [routerLink]="['../plano', parcelamento.plano?.id, 'view' ]" >{{parcelamento.plano?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/parcelamento', parcelamento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parcelamento', parcelamento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'parcelamento', { outlets: { popup: parcelamento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
