<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pagamento-heading" jhiTranslate="pagboletosApp.pagamento.home.createOrEditLabel">Create or edit a Pagamento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pagamento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pagamento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.pagamento.idTransacaoCartao" for="field_idTransacaoCartao">Id Transacao Cartao</label>
                    <input type="text" class="form-control" name="idTransacaoCartao" id="field_idTransacaoCartao"
                        [(ngModel)]="pagamento.idTransacaoCartao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.pagamento.idTransacaoBoleto" for="field_idTransacaoBoleto">Id Transacao Boleto</label>
                    <input type="text" class="form-control" name="idTransacaoBoleto" id="field_idTransacaoBoleto"
                        [(ngModel)]="pagamento.idTransacaoBoleto" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
