<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagboletosApp.pagamento.home.title">Pagamentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pagamento" [routerLink]="['/pagamento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pagboletosApp.pagamento.home.createLabel">
            Create new Pagamento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pagamentos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagboletosApp.pagamento.idTransacaoCartao">Id Transacao Cartao</span></th>
            <th><span jhiTranslate="pagboletosApp.pagamento.idTransacaoBoleto">Id Transacao Boleto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pagamento of pagamentos ;trackBy: trackId">
                <td><a [routerLink]="['/pagamento', pagamento.id, 'view' ]">{{pagamento.id}}</a></td>
                <td>{{pagamento.idTransacaoCartao}}</td>
                <td>{{pagamento.idTransacaoBoleto}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pagamento', pagamento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pagamento', pagamento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pagamento', { outlets: { popup: pagamento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
