<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pagamento">
            <h2><span jhiTranslate="pagboletosApp.pagamento.detail.title">Pagamento</span> {{pagamento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.pagamento.idTransacaoCartao">Id Transacao Cartao</span></dt>
                <dd>
                    <span>{{pagamento.idTransacaoCartao}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.pagamento.idTransacaoBoleto">Id Transacao Boleto</span></dt>
                <dd>
                    <span>{{pagamento.idTransacaoBoleto}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pagamento', pagamento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
