<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagboletosApp.vendedor.home.title">Vendedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vendedor" [routerLink]="['/vendedor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pagboletosApp.vendedor.home.createLabel">
            Create new Vendedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vendedors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagboletosApp.vendedor.idVendedor">Id Vendedor</span></th>
            <th><span jhiTranslate="pagboletosApp.vendedor.selfie">Selfie</span></th>
            <th><span jhiTranslate="pagboletosApp.vendedor.localizacao">Localizacao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vendedor of vendedors ;trackBy: trackId">
                <td><a [routerLink]="['/vendedor', vendedor.id, 'view' ]">{{vendedor.id}}</a></td>
                <td>{{vendedor.idVendedor}}</td>
                <td>
                    <a *ngIf="vendedor.selfie" (click)="openFile(vendedor.selfieContentType, vendedor.selfie)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="vendedor.selfie">{{vendedor.selfieContentType}}, {{byteSize(vendedor.selfie)}}</span>
                </td>
                <td>
                    <div *ngIf="vendedor.localizacao">
                        <a [routerLink]="['../localizacao', vendedor.localizacao?.id, 'view' ]" >{{vendedor.localizacao?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vendedor', vendedor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vendedor', vendedor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vendedor', { outlets: { popup: vendedor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
