<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vendedor-heading" jhiTranslate="pagboletosApp.vendedor.home.createOrEditLabel">Create or edit a Vendedor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vendedor.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vendedor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.vendedor.idVendedor" for="field_idVendedor">Id Vendedor</label>
                    <input type="text" class="form-control" name="idVendedor" id="field_idVendedor"
                        [(ngModel)]="vendedor.idVendedor" required/>
                    <div [hidden]="!(editForm.controls.idVendedor?.dirty && editForm.controls.idVendedor?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.idVendedor?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.vendedor.selfie" for="field_selfie">Selfie</label>
                    <div>
                        <div *ngIf="vendedor.selfie" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(vendedor.selfieContentType, vendedor.selfie)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{vendedor.selfieContentType}}, {{byteSize(vendedor.selfie)}}</span>
                            <button type="button" (click)="vendedor.selfie=null;vendedor.selfieContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_selfie" (change)="setFileData($event, vendedor, 'selfie', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="selfie" id="field_selfie"
                        [(ngModel)]="vendedor.selfie" />
                    <input type="hidden" class="form-control" name="selfieContentType" id="field_selfieContentType"
                        [(ngModel)]="vendedor.selfieContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.vendedor.localizacao" for="field_localizacao">Localizacao</label>
                    <select class="form-control" id="field_localizacao" name="localizacao" [(ngModel)]="vendedor.localizacao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="localizacaoOption.id === vendedor.localizacao?.id ? vendedor.localizacao : localizacaoOption" *ngFor="let localizacaoOption of localizacaos; trackBy: trackLocalizacaoById">{{localizacaoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
