<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vendedor">
            <h2><span jhiTranslate="pagboletosApp.vendedor.detail.title">Vendedor</span> {{vendedor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.vendedor.idVendedor">Id Vendedor</span></dt>
                <dd>
                    <span>{{vendedor.idVendedor}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.vendedor.selfie">Selfie</span></dt>
                <dd>
                    <div *ngIf="vendedor.selfie">
                        <a (click)="openFile(vendedor.selfieContentType, vendedor.selfie)" jhiTranslate="entity.action.open">open</a>
                        {{vendedor.selfieContentType}}, {{byteSize(vendedor.selfie)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.vendedor.localizacao">Localizacao</span></dt>
                <dd>
                    <div *ngIf="vendedor.localizacao">
                        <a [routerLink]="['/localizacao', vendedor.localizacao?.id, 'view']">{{vendedor.localizacao?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vendedor', vendedor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
