<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="documentos">
            <h2><span jhiTranslate="pagboletosApp.documentos.detail.title">Documentos</span> {{documentos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.documentos.idDocumento">Id Documento</span></dt>
                <dd>
                    <span>{{documentos.idDocumento}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.documentos.nome">Nome</span></dt>
                <dd>
                    <span>{{documentos.nome}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.documentos.categoria">Categoria</span></dt>
                <dd>
                    <span jhiTranslate="{{'pagboletosApp.CategoriaDocumento.' + documentos.categoria}}">{{documentos.categoria}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.documentos.imagem">Imagem</span></dt>
                <dd>
                    <div *ngIf="documentos.imagem">
                        <a (click)="openFile(documentos.imagemContentType, documentos.imagem)" jhiTranslate="entity.action.open">open</a>
                        {{documentos.imagemContentType}}, {{byteSize(documentos.imagem)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.documentos.status">Status</span></dt>
                <dd>
                    <span>{{documentos.status}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.documentos.vendedor">Vendedor</span></dt>
                <dd>
                    <div *ngIf="documentos.vendedor">
                        <a [routerLink]="['/vendedor', documentos.vendedor?.id, 'view']">{{documentos.vendedor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/documentos', documentos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
