<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-documentos-heading" jhiTranslate="pagboletosApp.documentos.home.createOrEditLabel">Create or edit a Documentos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!documentos.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="documentos.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.documentos.idDocumento" for="field_idDocumento">Id Documento</label>
                    <input type="text" class="form-control" name="idDocumento" id="field_idDocumento"
                        [(ngModel)]="documentos.idDocumento" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.documentos.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="documentos.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.documentos.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" name="categoria" [(ngModel)]="documentos.categoria" id="field_categoria" >
                        <option value="ATIVIDADE">{{'pagboletosApp.CategoriaDocumento.ATIVIDADE' | translate}}</option>
                        <option value="RESIDENCIA">{{'pagboletosApp.CategoriaDocumento.RESIDENCIA' | translate}}</option>
                        <option value="IDENTIFICACAO">{{'pagboletosApp.CategoriaDocumento.IDENTIFICACAO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.documentos.imagem" for="field_imagem">Imagem</label>
                    <div>
                        <div *ngIf="documentos.imagem" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(documentos.imagemContentType, documentos.imagem)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{documentos.imagemContentType}}, {{byteSize(documentos.imagem)}}</span>
                            <button type="button" (click)="documentos.imagem=null;documentos.imagemContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagem" (change)="setFileData($event, documentos, 'imagem', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagem" id="field_imagem"
                        [(ngModel)]="documentos.imagem" />
                    <input type="hidden" class="form-control" name="imagemContentType" id="field_imagemContentType"
                        [(ngModel)]="documentos.imagemContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.documentos.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="documentos.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.documentos.vendedor" for="field_vendedor">Vendedor</label>
                    <select class="form-control" id="field_vendedor" name="vendedor" [(ngModel)]="documentos.vendedor" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vendedorOption.id === documentos.vendedor?.id ? documentos.vendedor : vendedorOption" *ngFor="let vendedorOption of vendedors; trackBy: trackVendedorById">{{vendedorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
