<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagboletosApp.documentos.home.title">Documentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-documentos" [routerLink]="['/documentos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pagboletosApp.documentos.home.createLabel">
            Create new Documentos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="documentos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagboletosApp.documentos.idDocumento">Id Documento</span></th>
            <th><span jhiTranslate="pagboletosApp.documentos.nome">Nome</span></th>
            <th><span jhiTranslate="pagboletosApp.documentos.categoria">Categoria</span></th>
            <th><span jhiTranslate="pagboletosApp.documentos.imagem">Imagem</span></th>
            <th><span jhiTranslate="pagboletosApp.documentos.status">Status</span></th>
            <th><span jhiTranslate="pagboletosApp.documentos.vendedor">Vendedor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let documentos of documentos ;trackBy: trackId">
                <td><a [routerLink]="['/documentos', documentos.id, 'view' ]">{{documentos.id}}</a></td>
                <td>{{documentos.idDocumento}}</td>
                <td>{{documentos.nome}}</td>
                <td jhiTranslate="{{'pagboletosApp.CategoriaDocumento.' + documentos.categoria}}">{{documentos.categoria}}</td>
                <td>
                    <a *ngIf="documentos.imagem" (click)="openFile(documentos.imagemContentType, documentos.imagem)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="documentos.imagem">{{documentos.imagemContentType}}, {{byteSize(documentos.imagem)}}</span>
                </td>
                <td>{{documentos.status}}</td>
                <td>
                    <div *ngIf="documentos.vendedor">
                        <a [routerLink]="['../vendedor', documentos.vendedor?.id, 'view' ]" >{{documentos.vendedor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/documentos', documentos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/documentos', documentos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'documentos', { outlets: { popup: documentos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
