<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagboletosApp.cartao.home.title">Cartaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cartao" [routerLink]="['/cartao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pagboletosApp.cartao.home.createLabel">
            Create new Cartao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cartaos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagboletosApp.cartao.idToken">Id Token</span></th>
            <th><span jhiTranslate="pagboletosApp.cartao.vendedor">Vendedor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cartao of cartaos ;trackBy: trackId">
                <td><a [routerLink]="['/cartao', cartao.id, 'view' ]">{{cartao.id}}</a></td>
                <td>{{cartao.idToken}}</td>
                <td>
                    <div *ngIf="cartao.vendedor">
                        <a [routerLink]="['../vendedor', cartao.vendedor?.id, 'view' ]" >{{cartao.vendedor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cartao', cartao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cartao', cartao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cartao', { outlets: { popup: cartao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
