<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cartao">
            <h2><span jhiTranslate="pagboletosApp.cartao.detail.title">Cartao</span> {{cartao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.cartao.idToken">Id Token</span></dt>
                <dd>
                    <span>{{cartao.idToken}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.cartao.vendedor">Vendedor</span></dt>
                <dd>
                    <div *ngIf="cartao.vendedor">
                        <a [routerLink]="['/vendedor', cartao.vendedor?.id, 'view']">{{cartao.vendedor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cartao', cartao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
