<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cartao-heading" jhiTranslate="pagboletosApp.cartao.home.createOrEditLabel">Create or edit a Cartao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cartao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cartao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.cartao.idToken" for="field_idToken">Id Token</label>
                    <input type="text" class="form-control" name="idToken" id="field_idToken"
                        [(ngModel)]="cartao.idToken" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.cartao.vendedor" for="field_vendedor">Vendedor</label>
                    <select class="form-control" id="field_vendedor" name="vendedor" [(ngModel)]="cartao.vendedor" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vendedorOption.id === cartao.vendedor?.id ? cartao.vendedor : vendedorOption" *ngFor="let vendedorOption of vendedors; trackBy: trackVendedorById">{{vendedorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
