<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagboletosApp.boleto.home.title">Boletos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-boleto" [routerLink]="['/boleto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pagboletosApp.boleto.home.createLabel">
            Create new Boleto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="boletos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.idBoletos">Id Boletos</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.codigoDeBarras">Codigo De Barras</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.vencimento">Vencimento</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.beneficiario">Beneficiario</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.descricao">Descricao</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.dataDePagamento">Data De Pagamento</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.pagamento">Pagamento</span></th>
            <th><span jhiTranslate="pagboletosApp.boleto.vendedor">Vendedor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let boleto of boletos ;trackBy: trackId">
                <td><a [routerLink]="['/boleto', boleto.id, 'view' ]">{{boleto.id}}</a></td>
                <td>{{boleto.idBoletos}}</td>
                <td>{{boleto.codigoDeBarras}}</td>
                <td>{{boleto.vencimento | date:'mediumDate'}}</td>
                <td>{{boleto.beneficiario}}</td>
                <td>{{boleto.descricao}}</td>
                <td>{{boleto.dataDePagamento | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="boleto.pagamento">
                        <a [routerLink]="['../pagamento', boleto.pagamento?.id, 'view' ]" >{{boleto.pagamento?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="boleto.vendedor">
                        <a [routerLink]="['../vendedor', boleto.vendedor?.id, 'view' ]" >{{boleto.vendedor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/boleto', boleto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/boleto', boleto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'boleto', { outlets: { popup: boleto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
