<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-boleto-heading" jhiTranslate="pagboletosApp.boleto.home.createOrEditLabel">Create or edit a Boleto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!boleto.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="boleto.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.idBoletos" for="field_idBoletos">Id Boletos</label>
                    <input type="text" class="form-control" name="idBoletos" id="field_idBoletos"
                        [(ngModel)]="boleto.idBoletos" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.codigoDeBarras" for="field_codigoDeBarras">Codigo De Barras</label>
                    <input type="text" class="form-control" name="codigoDeBarras" id="field_codigoDeBarras"
                        [(ngModel)]="boleto.codigoDeBarras" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.vencimento" for="field_vencimento">Vencimento</label>
                    <div class="input-group">
                        <input id="field_vencimento" type="text" class="form-control" name="vencimento" ngbDatepicker  #vencimentoDp="ngbDatepicker" [(ngModel)]="boleto.vencimento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="vencimentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.beneficiario" for="field_beneficiario">Beneficiario</label>
                    <input type="text" class="form-control" name="beneficiario" id="field_beneficiario"
                        [(ngModel)]="boleto.beneficiario" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="boleto.descricao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.dataDePagamento" for="field_dataDePagamento">Data De Pagamento</label>
                    <div class="input-group">
                        <input id="field_dataDePagamento" type="text" class="form-control" name="dataDePagamento" ngbDatepicker  #dataDePagamentoDp="ngbDatepicker" [(ngModel)]="boleto.dataDePagamento"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDePagamentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.pagamento" for="field_pagamento">Pagamento</label>
                    <select class="form-control" id="field_pagamento" name="pagamento" [(ngModel)]="boleto.pagamento">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pagamentoOption.id === boleto.pagamento?.id ? boleto.pagamento : pagamentoOption" *ngFor="let pagamentoOption of pagamentos; trackBy: trackPagamentoById">{{pagamentoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.boleto.vendedor" for="field_vendedor">Vendedor</label>
                    <select class="form-control" id="field_vendedor" name="vendedor" [(ngModel)]="boleto.vendedor" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vendedorOption.id === boleto.vendedor?.id ? boleto.vendedor : vendedorOption" *ngFor="let vendedorOption of vendedors; trackBy: trackVendedorById">{{vendedorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
