<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="boleto">
            <h2><span jhiTranslate="pagboletosApp.boleto.detail.title">Boleto</span> {{boleto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.boleto.idBoletos">Id Boletos</span></dt>
                <dd>
                    <span>{{boleto.idBoletos}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.boleto.codigoDeBarras">Codigo De Barras</span></dt>
                <dd>
                    <span>{{boleto.codigoDeBarras}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.boleto.vencimento">Vencimento</span></dt>
                <dd>
                    <span>{{boleto.vencimento}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.boleto.beneficiario">Beneficiario</span></dt>
                <dd>
                    <span>{{boleto.beneficiario}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.boleto.descricao">Descricao</span></dt>
                <dd>
                    <span>{{boleto.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.boleto.dataDePagamento">Data De Pagamento</span></dt>
                <dd>
                    <span>{{boleto.dataDePagamento}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.boleto.pagamento">Pagamento</span></dt>
                <dd>
                    <div *ngIf="boleto.pagamento">
                        <a [routerLink]="['/pagamento', boleto.pagamento?.id, 'view']">{{boleto.pagamento?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.boleto.vendedor">Vendedor</span></dt>
                <dd>
                    <div *ngIf="boleto.vendedor">
                        <a [routerLink]="['/vendedor', boleto.vendedor?.id, 'view']">{{boleto.vendedor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/boleto', boleto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
