<div class="">
    <div class="aHl"></div>
    <div id=":ph" tabindex="-1"></div>
    <div id=":pa" class="ii gt">
        <div id=":ly" class="a3s aXjCH ">
            <div bgcolor="#FFFFFF">
                <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td width="12" rowspan="3"></td>
                        <td width="576" align="left">
                            <table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td width="510" height="30" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="510" colspan="2"><img
                                        src="http://pagboletos.com.br/imagens/rsz_1pagboletos_030419_final-01.png"
                                        alt="Conta Digital" width="200" height="70" style="display:block" border="0"
                                        class="CToWUd"></td>
                                </tr>
                                <tr>
                                    <td width="510" height="30" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="510" colspan="2"><p
                                        style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                        <b>Parabéns, {{nome}}}</b></p>
                                        <p style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                            Nosso parceiro {{nomeParceiro}} realizou seu cadastro em nosso sistema.
                                        </p>
                                        <p style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                            Prepare-se para um novo conceito em tecnologia, parcele seus boletos em até 12x no cartão.
                                        </p>
                                </tr>
                                <tr>
                                    <td height="10" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td height="20" colspan="2">
                                        <table width="510" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td width="122" align="left"></td>
                                                <td width="388"></td>
                                            </tr>
                                            <tr>
                                                <td width="70" align="left">
                                                    <img src="http://pagboletos.com.br/imagens/app.png"
                                                         alt="Cartão de Crédito" width="73" height="62" class="CToWUd">
                                                </td>
                                                <td width="440">
                                                    <p
                                                        style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left;line-height:18px">
                                                        <br>
                                                        <b>Login:</b>
                                                    <p style="font-family:'Lato',Calibri,Arial,sans-serif;font-size:22px;color:#ff8700;text-align:center">
                                                        <strong>{{login}}}</strong>
                                                    </p>
                                                    <p
                                                        style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left;line-height:18px">
                                                        <br>
                                                        <b>Senha :</b>
                                                    <p style="font-family:'Lato',Calibri,Arial,sans-serif;font-size:22px;color:#ff8700;text-align:center">
                                                        <strong>{{senha}}}</strong>
                                                    </p>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="70" align="left" height="20"></td>
                                                <td width="440" height="20"></td>
                                            </tr>
                                            <tr>
                                                <td width="70" align="left"><br> <img
                                                    src="http://pagboletos.com.br/imagens/app.png"
                                                    alt="Cartão de Crédito" width="73" height="57" class="CToWUd"></td>
                                                <td width="440"><span
                                                    style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                                    <br>
                                                    <b>Comece a usar a sua conta:</b>
                                                    <br>Usando o aplicativo da PagBoletos vocẽ poderá pagar boletos:</span>
                                                    <ul style="font-family:lato,arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                                        <li> Multas;</li>
                                                        <li> IPVA;</li>
                                                        <li> IPTU;</li>
                                                        <li> Faculdade e Escolas;</li>
                                                        <li> Luz - Água - Energia;</li>
                                                        <li> Telefone;</li>
                                                        <li> E muito mais...</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="70" height="20" align="left"></td>
                                                <td width="440" height="20"></td>
                                            </tr>
                                            <tr>
                                                <td width="70" align="left"><img
                                                    src="http://pagboletos.com.br/imagens/cartao.png"
                                                    alt="Cartão de Crédito" width="73" height="51" class="CToWUd"></td>
                                                <td width="440"><p
                                                    style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left;line-height:18px">
                                                    <span
                                                        style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                                        <b>Cartão de crédito</b>
                                                    </span>
                                                    <br>
                                                    A PagBoletos aceitas principais bandeiras do mercado: Visa, MasterCard, Elo, Amex, Diners JCB, Aura e Discover
                                                </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="510" height="35" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td width="70" align="left"><img
                                                    src="http://pagboletos.com.br/imagens/chat.png"
                                                    alt="Fone de Ouvido" width="73" height="57" class="CToWUd"></td>
                                                <td width="440"><p
                                                    style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left;line-height:18px">
                                                    <span
                                                        style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                                        <b>Para informações e dúvidas </b>
                                                    </span>
                                                    <br>
                                                    Queremos que você tenha a melhor experiência digital, mas sabemos
                                                    que algumas dúvidas podem surgir. Caso isso aconteça, confira as
                                                    Dúvidas Frequentes em nosso site ou os tutoriais em vídeo do nosso
                                                    canal no Youtube. Ou entre em contato com a gente pelo nosso chat.</p></td>
                                            </tr>
                                            <tr>
                                                <td width="510" height="35" colspan="2" align="center"></td>
                                            </tr>
                                            <tr>
                                                <td width="510" colspan="2" align="center"><p
                                                    style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                                    Estamos muito felizes em ter você aqui!</p>
                                                    <p style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#f36e25;text-align:left">
                                                        <b>Abraços da equipe <span class="il">PagBoletos</span>. </b>
                                                    </p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="510" height="30" colspan="2"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="12" rowspan="3"></td>
                    </tr>
                    <tr>
                        <td width="576">
                            <table width="543" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e6e6e6">
                                <tbody>
                                <tr>
                                    <td width="16" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://www.facebook.com/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/pagboletos&amp;source=gmail&amp;ust=1555421407554000&amp;usg=AFQjCNFJfov5HgUkTlEskcM0Et0jC47hqQ">
                                            <img src="http://pagboletos.com.br/imagens/facebook.png" alt="Facebook PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="3" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://twitter.com/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/pagboletos&amp;source=gmail&amp;ust=1555421407554000&amp;usg=AFQjCNHqZd1f6LAGGegSMNS4O_3JjjVXvg">
                                            <img src="http://pagboletos.com.br/imagens/twitter.png" alt="Twitter PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="3" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://www.instagram.com/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/pagboletos&amp;source=gmail&amp;ust=1555421407554000&amp;usg=AFQjCNEeGGPa3wbdMReR1Nl9KNkCWznrpg">
                                            <img src="http://pagboletos.com.br/imagens/instagram.png" alt="Isntagram PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="3" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://www.youtube.com/c/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/c/pagboletos&amp;source=gmail&amp;ust=1555421407555000&amp;usg=AFQjCNHa-GuVEsHGbuIoZ0oCYEq_UJU-gw">
                                            <img src="http://pagboletos.com.br/imagens/youtube.png" alt="Youtube PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="406" height="50" align="right" valign="middle">
                                        <p style="font-family:'Lato',Calibri,sans-serif;font-size:10px;color:#4d4d4d;text-align:right">
                                <span style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#f15a24;text-align:left;letter-spacing:1px;text-decoration:none">
                                    <b>
                                        <a href="https://www.pagboletos.com.br" title="PagBoletos" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ff500f;text-align:left;letter-spacing:1px;text-decoration:none"
                                           target="_blank">WWW.PAGBOLETOS.COM.BR</a>
                                    </b>
                                </span>
                                            <br>
                                        </p>
                                    </td>
                                    <td width="16"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="576" height="20"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="yj6qo"></div>
    </div>
    <div id=":pl" class="ii gt" style="display:none">
        <div id=":q8" class="a3s aXjCH undefined"></div>
    </div>
    <div class="hi"></div>
</div>
