<div class="">
    <div class="aHl"></div>
    <div id=":ph" tabindex="-1"></div>
    <div id=":pa" class="ii gt">
        <div id=":ly" class="a3s aXjCH ">
            <div bgcolor="#FFFFFF">
                <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td width="12" rowspan="3"></td>
                        <td width="576" align="left">
                            <table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td width="510" height="30" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="510" colspan="2"><img
                                        src="http://pagboletos.com.br/imagens/rsz_1pagboletos_030419_final-01.png"
                                        alt="Conta Digital" width="200" height="70" style="display:block" border="0"
                                        class="CToWUd"></td>
                                </tr>
                                <tr>
                                    <td width="510" height="30" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td width="510" colspan="2"><p
                                        style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                        <b>{{titulo}}}</b></p>
                                        <p style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#4d4d4d;text-align:left">
                                            Descrição do email
                                        </p>
                                </tr>
                                <tr>
                                    <td height="10" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td height="20" colspan="2">
                                        <table width="510" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td width="122" align="left"></td>
                                                <td width="388"></td>
                                            </tr>
                                            <tr>
                                                <td width="510" colspan="2" align="center">
                                                    <p style="font-family:'Lato',Calibri,sans-serif;font-size:14px;color:#f36e25;text-align:left">
                                                        <b>Abraços da equipe <span class="il">PagBoletos</span>. </b>
                                                    </p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="510" height="30" colspan="2"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="12" rowspan="3"></td>
                    </tr>
                    <tr>
                        <td width="576">
                            <table width="543" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e6e6e6">
                                <tbody>
                                <tr>
                                    <td width="16" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://www.facebook.com/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/pagboletos&amp;source=gmail&amp;ust=1555421407554000&amp;usg=AFQjCNFJfov5HgUkTlEskcM0Et0jC47hqQ">
                                            <img src="http://pagboletos.com.br/imagens/facebook.png" alt="Facebook PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="3" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://twitter.com/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/pagboletos&amp;source=gmail&amp;ust=1555421407554000&amp;usg=AFQjCNHqZd1f6LAGGegSMNS4O_3JjjVXvg">
                                            <img src="http://pagboletos.com.br/imagens/twitter.png" alt="Twitter PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="3" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://www.instagram.com/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/pagboletos&amp;source=gmail&amp;ust=1555421407554000&amp;usg=AFQjCNEeGGPa3wbdMReR1Nl9KNkCWznrpg">
                                            <img src="http://pagboletos.com.br/imagens/instagram.png" alt="Isntagram PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="3" height="50"></td>
                                    <td width="24" height="50" align="center" valign="middle" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ccc;text-align:left;text-decoration:none">
                                        <a href="https://www.youtube.com/c/pagboletos" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/c/pagboletos&amp;source=gmail&amp;ust=1555421407555000&amp;usg=AFQjCNHa-GuVEsHGbuIoZ0oCYEq_UJU-gw">
                                            <img src="http://pagboletos.com.br/imagens/youtube.png" alt="Youtube PagBoletos" width="24" height="24" border="0" class="CToWUd">
                                        </a>
                                    </td>
                                    <td width="406" height="50" align="right" valign="middle">
                                        <p style="font-family:'Lato',Calibri,sans-serif;font-size:10px;color:#4d4d4d;text-align:right">
                                <span style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#f15a24;text-align:left;letter-spacing:1px;text-decoration:none">
                                    <b>
                                        <a href="https://www.pagboletos.com.br" title="PagBoletos" style="font-family:'Lato',Calibri,sans-serif;font-size:11px;color:#ff500f;text-align:left;letter-spacing:1px;text-decoration:none"
                                           target="_blank">WWW.PAGBOLETOS.COM.BR</a>
                                    </b>
                                </span>
                                            <br>
                                        </p>
                                    </td>
                                    <td width="16"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="576" height="20"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="yj6qo"></div>
    </div>
    <div id=":pl" class="ii gt" style="display:none">
        <div id=":q8" class="a3s aXjCH undefined"></div>
    </div>
    <div class="hi"></div>
</div>
