<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-etapa-heading" jhiTranslate="pagboletosApp.etapa.home.createOrEditLabel">Create or edit a Etapa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!etapa.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="etapa.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.etapa.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="etapa.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.etapa.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="etapa.descricao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.etapa.dataEfetuacao" for="field_dataEfetuacao">Data Efetuacao</label>
                    <div class="input-group">
                        <input id="field_dataEfetuacao" type="text" class="form-control" name="dataEfetuacao" ngbDatepicker  #dataEfetuacaoDp="ngbDatepicker" [(ngModel)]="etapa.dataEfetuacao"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataEfetuacaoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.etapa.finalizado" for="field_finalizado">Finalizado</label>
                    <input type="checkbox" class="form-control" name="finalizado" id="field_finalizado"
                        [(ngModel)]="etapa.finalizado" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pagboletosApp.etapa.pagamento" for="field_pagamento">Pagamento</label>
                    <select class="form-control" id="field_pagamento" name="pagamento" [(ngModel)]="etapa.pagamento" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pagamentoOption.id === etapa.pagamento?.id ? etapa.pagamento : pagamentoOption" *ngFor="let pagamentoOption of pagamentos; trackBy: trackPagamentoById">{{pagamentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
