<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etapa">
            <h2><span jhiTranslate="pagboletosApp.etapa.detail.title">Etapa</span> {{etapa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pagboletosApp.etapa.nome">Nome</span></dt>
                <dd>
                    <span>{{etapa.nome}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.etapa.descricao">Descricao</span></dt>
                <dd>
                    <span>{{etapa.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.etapa.dataEfetuacao">Data Efetuacao</span></dt>
                <dd>
                    <span>{{etapa.dataEfetuacao}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.etapa.finalizado">Finalizado</span></dt>
                <dd>
                    <span>{{etapa.finalizado}}</span>
                </dd>
                <dt><span jhiTranslate="pagboletosApp.etapa.pagamento">Pagamento</span></dt>
                <dd>
                    <div *ngIf="etapa.pagamento">
                        <a [routerLink]="['/pagamento', etapa.pagamento?.id, 'view']">{{etapa.pagamento?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etapa', etapa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
