<div>
    <h2 id="page-heading">
        <span jhiTranslate="pagboletosApp.etapa.home.title">Etapas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etapa" [routerLink]="['/etapa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pagboletosApp.etapa.home.createLabel">
            Create new Etapa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="etapas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pagboletosApp.etapa.nome">Nome</span></th>
            <th><span jhiTranslate="pagboletosApp.etapa.descricao">Descricao</span></th>
            <th><span jhiTranslate="pagboletosApp.etapa.dataEfetuacao">Data Efetuacao</span></th>
            <th><span jhiTranslate="pagboletosApp.etapa.finalizado">Finalizado</span></th>
            <th><span jhiTranslate="pagboletosApp.etapa.pagamento">Pagamento</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let etapa of etapas ;trackBy: trackId">
                <td><a [routerLink]="['/etapa', etapa.id, 'view' ]">{{etapa.id}}</a></td>
                <td>{{etapa.nome}}</td>
                <td>{{etapa.descricao}}</td>
                <td>{{etapa.dataEfetuacao | date:'mediumDate'}}</td>
                <td>{{etapa.finalizado}}</td>
                <td>
                    <div *ngIf="etapa.pagamento">
                        <a [routerLink]="['../pagamento', etapa.pagamento?.id, 'view' ]" >{{etapa.pagamento?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/etapa', etapa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/etapa', etapa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'etapa', { outlets: { popup: etapa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
